body {
    background-color: black;

}




.header {
    padding: 50px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.myDivAboutMe {

    text-align: center;
    color: white;
    text-align: center;
    font-size: 40px;

}

.myDivProjects {

    text-align: center;
    color: white;
    text-align: center;
    font-size: 40px;
}

.myDivAwards {

    text-align: center;
    color: white;
    text-align: center;
    font-size: 40px;
}

.myDivResume {

    text-align: center;
    color: white;
    text-align: center;
    font-size: 40px;
}

.myDivContact {

    text-align: center;
    color: white;
    text-align: center;
    font-size: 40px;
}


a {
    color: white;
}