body {
    background-color: black;

}




.header {
    padding: 20px;
    text-align: center;
    background: white;
    color: black;
    font-size: 40px;
}

.myDivAboutMe {

    text-align: center;
    color: white;
    text-align: center;
    font-size: 100px;

}

.myDivProjects {

    text-align: center;
    color: white;
    text-align: center;
    font-size: 100px;
}

.myDivAwards {

    text-align: center;
    color: white;
    text-align: center;
    font-size: 100px;
}

.myDivResume {

    text-align: center;
    color: white;
    text-align: center;
    font-size: 100px;
}

.myDivContact {

    text-align: center;
    color: white;
    text-align: center;
    font-size: 100px;
}


a {
    color: red;
}